target
bin
gen
.DS_Store
/com/
reference
*.asc
.settings
.project
.classpath
*.releaseBackup
release.properties

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

# Gradle
.gradle
build
gradlew
gradlew.bat
gradle
