target
bin
gen
out
.DS_Store
/com/
reference
*.asc
.settings
.project
.classpath
.idea/workspace.xml
*.releaseBackup
release.properties
out
.idea
enabler/enabler.iml
openxc/openxc.iml
openxc-it/openxc-it.iml
