<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openxc.enabler" android:versionCode="14"
    android:versionName="5.3.2-dev">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-feature android:name="android.hardware.usb.host"
          android:required="true" />
  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />

  <application android:label="@string/app_name" android:allowBackup="true"
            android:icon="@drawable/open_xc_launcher_icon_black">
      <service android:name="com.openxc.enabler.preferences.PreferenceManagerService"/>
      <service android:name="com.openxc.VehicleManager"/>
      <service android:name="com.openxc.remote.VehicleService" android:process=":remote">
          <intent-filter>
              <action android:name="com.openxc.remote.VehicleServiceInterface" />
          </intent-filter>
      </service>

      <activity android:name=".OpenXcEnablerActivity"
            android:launchMode="singleTask">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>

      <activity android:name=".VehicleDashboardActivity">
      </activity>

      <activity android:name=".SettingsActivity" />

      <activity android:name="com.openxc.interfaces.usb.UsbDeviceAttachmentActivity">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                    android:resource="@xml/device_filter" />
      </activity>

      <receiver android:name=".BootupReceiver">
          <intent-filter>
              <action android:name="android.intent.action.BOOT_COMPLETED" />
          </intent-filter>
      </receiver>

      <receiver android:name=".BluetoothReceiver">
          <intent-filter>
              <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
          </intent-filter>
          <intent-filter>
              <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
          </intent-filter>
      </receiver>
      <!-- Must have a valid API key to use Crashlytics - this is a bogus API
        key included just to make sure you can still build and install the app
        from the open source repository. ! -->
      <meta-data android:name="com.crashlytics.ApiKey" android:value="0000000000000000000000000000000000000000"/>
  </application>

</manifest>

