name: Release

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build Release
      uses: Raul6469/android-gradle-action@2.0.0
      with:
        # The gradle command you wish to run (required)
        # Here, `./gradlew test` will be run
        script: "assembleRelease"

        # In some cases, you may need to provide
        # Android licence agreement id
        # You can find it on your own machine under `$ANDROID_HOME/license`,
        # and add the file content as a GitHub secret named `$ANDROID_LICENCE`.
        android-licence: ${{ secrets.ANDROID_LICENCE }}
        
