<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="6000001" android:versionName="6.0.1-SNAPSHOT" package="com.openxc">
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <service android:name="com.openxc.VehicleManager"/>
  <service android:name="com.openxc.remote.VehicleService" android:process=":remote">
      <intent-filter>
          <action android:name="com.openxc.remote.VehicleServiceInterface"/>
      </intent-filter>
  </service>
  <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="21"/>
</manifest>